---
layout: default
---

<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12 bg-slate-50 rounded-lg shadow">
  <article class="prose prose-base max-w-none leading-relaxed">
    {% assign dynamic_title = page.title %}

    {% for layer in site.data.framework.layers %}
      {% for consideration in layer.considerations %}
        {% if consideration.path == page.permalink %}
          {% assign dynamic_title = consideration.title %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if dynamic_title %}
      <header class="mb-8">
        <h1 class="mb-4 text-5xl text-gray-800 font-medium">{{ dynamic_title }}</h1>
        {% if page.description %}
          <p class="text-xl text-gray-600">{{ page.description }}</p>
        {% endif %}
      </header>
    {% endif %}

    <div class="prose-headings:text-gray-700 prose-p:text-gray-800">
      {{ content }}
    </div>
  </article>
</div>